<nav class="navbar navbar-expand-sm fixed-top ">
  <!-- logo -->
  <a class="navbar-brand" href="#"><img id="logo" src="assets/img/brand/logo.png"><img id="site-name" src="assets/img/brand/site-name.png"></a>
    
    <!-- socials networks -->
    <ul class="navbar-nav ml-auto social-network-nav">
      <li class="nav-item">
        <a href="#"><img src="assets/img/icon/facebook.png" class="social-network-icon"></a>
      </li>
      <li class="nav-item">
        <a href="#"><img src="assets/img/icon/instagram.png" class="social-network-icon"></a>
      </li>
      <li class="nav-item">
        <a href="#"><img src="assets/img/icon/pinterest.png" class="social-network-icon"></a>
      </li>
  </ul>

</nav>